body {
    padding-left: 20ch;
    max-width: 80ch;
    font-family: Iosevka Curly Web, helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: 0;
    background-color: #d1cdb7;
    color: #454138;
}

ul {
    padding-left: 2ch;
}

li {
    padding-left: 1ch;
    font-size: 1.2rem;

}

::marker {
    content: '❧';
}

a {
    color: #748CAB;
    transition: 0.3s;
}

a:hover {
    color: #D81159;
}

.title {
    letter-spacing: .05rem;
}

.content > p + p {
    margin-top: 3ch;
}

p {
    line-height: 1.5rem;
    font-size: 1.15rem;
    margin: 0 0 3ch 0;
}

#footnotes {
    margin-top: 3rem;
}

.footnum {
    font-size: 1.0rem;
}

.title + p {
    padding-top: 3ch;
    border-top: 0.1rem solid #454138;
}

p > img {
    max-width: 100%;
}

@media (max-width: 80ch) { 
    body {
        padding-left: 2ch;
        padding-right: 2ch;
    }
    #postamble {
        flex-direction: column;
    }
}

blockquote {
  margin-left: 1.5rem;
  font-weight: bolder;
  margin-right: 0px;
  padding-left: 0.1em;
  padding-top: 0.8em;
  padding-bottom: 0.8em;
  padding-right: 0.8em;
}

blockquote p {
  margin-bottom: 0; }


#postamble {
    display: flex;
    justify-content: space-between;
    padding-top: 6px;
    margin-top: 4px;
    border-top: 0.1rem solid #454138;
}

#postamble p {
    margin: 0;
}

.creator {
    text-align: right;
}

.fleuron {
    text-align: center;
    font-size: 3rem;
    margin: 0; 
}

h2 {
    padding: 6px 0 4px 0;
}

i {
    font-family: Iosevka Curly Web Oblique;
}

b, strong {
    font-weight: 700;
}
blockquote {
  position: relative;
  padding: 1.5rem;
}
blockquote:before {
  content: '';
  position: absolute;
  top: 0;
  left: -1.5rem;
  bottom: 0;
  height: 100%;
  width: 0.3rem;
  border: solid #bab5a1;
  border-width: 0 0.2rem 0 0.6rem;
}
